<div *ngIf="isLoading">
    <mat-spinner class="content-loading-spinner"></mat-spinner>
</div>
<div *ngIf="!isLoading"
     fxLayout="row" fxLayout.xs="column">
    <div fxLayout="column"
         fxFlex="25">
        <mat-card class="base-card">
            <mat-card-content>
                <mat-card-title>
                    <span>Ski Areas</span>
                </mat-card-title>
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let state of skiAreaStates">
                        <mat-expansion-panel-header>
                            {{ state.state }}
                        </mat-expansion-panel-header>
                        <mat-list>
                            <mat-list-item *ngFor="let city of state.cities">
                                <button mat-menu-item *ngIf="city.skiAreas.length > 1" [matMenuTriggerFor]="skiAreaMenu">{{ city.city }}</button>
                                <button mat-menu-item *ngIf="city.skiAreas.length === 1" (click)="selectSkiArea(city.skiAreas[0])">{{ city.city }}</button>
                                <mat-menu #skateparkMenu="matMenu" [overlapTrigger]="true">
                                    <mat-list>
                                        <mat-list-item *ngFor="let ski of city.skiAreas">
                                            <button mat-menu-item (click)="selectSkiArea(ski)">{{ ski.name }}</button>
                                        </mat-list-item>
                                    </mat-list>
                                </mat-menu>
                            </mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxLayout="column"
         fxFlex="75">
        <div *ngIf="!isSelected">
            <mat-card class="base-card">
                <mat-card-title>
                    Skiing
                </mat-card-title>
                <mat-card-content>
                    <p>
                        I've been skiing longer than I can remember. My parents signed me up for my first lessons when I was 3 years old and I've never looked back. Whether skiing or snowboarding I've spent almost 30 years up in the mountains.
                    </p>
                    <p>
                        I've started documenting all of the ski areas I've been too. They are organized by state / province and then by city.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div *ngIf="isSelected">
            <photo-album [model]="selectedSkiArea"></photo-album>
        </div>
    </div>
</div>