<mat-toolbar color="primary">
        <button mat-icon-button (click)="snav.open()">
                <mat-icon>menu</mat-icon>
        </button>
        Celebrity Skateboards
</mat-toolbar>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<mat-sidenav-container *ngIf="!isLoading" fxFlexFill fxLayout="column" (backdropClick)="snav.close()">
        <mat-sidenav #snav>
                <mat-accordion>
                        <mat-expansion-panel *ngFor="let state of skateparkStates">
                                <mat-expansion-panel-header>
                                        {{ state.state }}
                                </mat-expansion-panel-header>
                                <mat-list>
                                        <mat-list-item *ngFor="let city of state.cities">
                                                <button mat-menu-item *ngIf="city.skateparks.length > 1" [matMenuTriggerFor]="skateparkMenu">{{ city.city }}</button>
                                                <button mat-menu-item *ngIf="city.skateparks.length === 1" (click)="selectSkatepark(city.skateparks[0])">{{ city.city }}</button>
                                                <mat-menu #skateparkMenu="matMenu" [overlapTrigger]="true">
                                                        <mat-list>
                                                                <mat-list-item *ngFor="let skatepark of city.skateparks">
                                                                        <button mat-menu-item (click)="selectSkatepark(skatepark)">{{ skatepark.name }}</button>
                                                                </mat-list-item>
                                                        </mat-list>
                                                </mat-menu>
                                        </mat-list-item>
                                </mat-list>
                        </mat-expansion-panel>
                </mat-accordion>
        </mat-sidenav>
        <mat-sidenav-content>
                <div *ngIf="!isSelected">
                        <mat-card class="base-card">
                                <mat-card-title>
                                        Skateboarding
                                </mat-card-title>
                                <mat-card-content>
                                        <p>
                                                Inspired by <a href="http://northwestskater.com/">northwestskater</a> and looking to build a single page application I decided to start documenting the different skateparks I've been to.
                                        </p>
                                </mat-card-content>
                        </mat-card>
                </div>
                <div *ngIf="isSelected">
                        <mat-card>
                                <mat-card-title>
                                        {{ selectedSkatepark.name }}
                                </mat-card-title>
                                <mat-card-subtitle>
                                        {{ selectedSkatepark.description }}
                                </mat-card-subtitle>
                                <mat-card-actions style="margin: 0 auto;">
                                        <div class="content-image" [innerHTML]="selectedSkatepark?.address?.googleMaps?.embedMap | safeHtml" style="margin: 0 auto;"></div>
                                </mat-card-actions>
                                <mat-card-content *ngFor="let image of selectedSkatepark?.album?.images">
                                        <mat-card-subtitle>
                                                <img src="{{ image.link }}" class="content-image" />
                                        </mat-card-subtitle>
                                        {{ image.description }}
                                </mat-card-content>
                        </mat-card>
                </div>
        </mat-sidenav-content>
</mat-sidenav-container>