<mat-card fxFlexFill fxLayout="column">
    <mat-card-title>{{ resume.title }}</mat-card-title>
    <mat-card-subtitle>{{ resume.subtitle }}</mat-card-subtitle>
    <mat-card-subtitle>
        <!-- TODO: pass this in as a property on resume -->
        <img style="min-width: 450px; min-height:450px; max-width: 25%; max-height: 25%; border:0;" src="../../theme/images/headshots/headshot-victoria-bc.jpg" /></mat-card-subtitle>
    <mat-card-content>
        <mat-grid-list fxHide="false" fxHide.lt-md cols="5" rowHeight="35px">
            <mat-grid-tile *ngFor="let skill of resume.skillset" class="tile-skillset">
                {{ skill }}
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list fxShow="false" fxShow.lt-md cols="2" rowHeight="20px">
            <mat-grid-tile *ngFor="let skill of resume.skillset" class="tile-skillset">
                {{ skill }}
            </mat-grid-tile>
        </mat-grid-list>
        <br />
        <div>
            <mat-grid-list cols="1" rowHeight="50px">
                <mat-grid-tile *ngFor="let ctnt of resume.content" class="tile-skillset">
                    {{ ctnt }}
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-card-content>
</mat-card>