html {
    height: 100% !important;
}

body {
    position: fixed;
    top: 0;
    bottom: 70px;
    right: 0;
    left: 0;
}

.content-image {
    max-height: 100%;
    max-width: 100%;
}

.loading {
    opacity: 0;
    transition: opacity .5s ease-in-out;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: white;
    z-index: -1;
}

.loading h1 {
    display: none;
}
